// GLOBAL VARIABLES

// Colors
$primary-color: rgb(68, 40, 255);

$accent-color-100: red;

$gradient-color-100: #000;
$gradient-color-900: #000;

$error-color: #FF0000;

$white: #FFF;
$black: #000;

// Animations
$easing: cubic-bezier(.4,0,.2,1);

$baseline-grid: 8px;
