@import 'modules/_variables.scss';

.nav-list-container {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.nav-list-settings {
  margin-top: auto;
}

.ot-debug-toolbar {
  height: $baseline-grid;
  min-height: 5 * $baseline-grid;
}
