name: Build

on:
  push:
    branches:
      - "*"

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install Dependencies
        run: npm ci
      - run: npm run test:ci
      - run: npm run build
      - run: npm run build
      - run: npm run ts:check
      - run: npm run html:check
