@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url("MaterialIcons-Regular.eot");

    /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url("MaterialIcons-Regular.woff2") format('woff2'),
      url("MaterialIcons-Regular.woff") format('woff'),
      url("MaterialIcons-Regular.ttf") format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;

    /* Preferred google-icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;

    /* Support for Safari and Chrome. */
    text-rendering: optimizelegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }
  
  
  /* Rules for sizing the google-icon. */
  .material-icons.md-3 {
    font-size: 3px;
  }
  
  .material-icons.md-9 {
    font-size: 9px;
  }
  
  .material-icons.md-18 {
    font-size: 18px;
  }
  
  .material-icons.md-24 {
    font-size: 24px;
  }
  
  .material-icons.md-36 {
    font-size: 36px;
  }
  
  .material-icons.md-48 {
    font-size: 48px;
  }
  
  /* Rules for using icons as black on a light background. */
  .material-icons.md-dark {
    color: rgb(0 0 0 / 54%);
  }
  
  .material-icons.md-dark.md-inactive {
    color: rgb(0 0 0 / 26%);
  }
  
  /* Rules for using icons as white on a dark background. */
  .material-icons.md-light {
    color: rgb(255 255 255 / 100%);
  }
  
  .material-icons.md-light.md-inactive {
    color: rgb(255 255 255 / 30%);
  }